.meters {
    display: flex;

    flex-direction: row;

    width: 100vw;
    height: 80vh;

    justify-content: space-between;

    position: relative;
}

.chart-container {
    height: 29vh;
    width: 100%;
    margin-bottom: 0px;
}
