.footer {
    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 0 20px;

    border-radius: 10px;
    border-top: 1px solid #fff;
    height: 10vh;

    z-index: 3;
}
