.page {
    font-family: Arial, sans-serif;

    display: flex;

    flex-direction: column;

    background-color: #292944;

    background-image: url(/frontend/images/b83ffb5a6b74b5ef38c6ce2a640ee956.png);

    background-attachment: fixed;

    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;

    z-index: -1;
}

.page::before {
    content: "";

    background-color: #2a2c2f;
    opacity: 0.5;

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 0;
}
